/*!
 * By Umar
 * Copyright 2020 Umar All Right Reserved
 * 12:35 22 June 2020
 * */


body {
	font-family: Nunito;
	font-weight: 600;
	padding-bottom: 50px;
}

.b {
	border: 1px solid tomato;
}

button, .btn {
	@extend %nunito;
	font-weight: 600;
}

/*!
 * Navbar
 *
 * */
nav.navbar {
	.navbar-brand {
		font-weight: 700;
		font-size: 22px;
	}
}

nav.navbar {
	.navbar-brand {
		span {
			padding-left: 10px;		
		}
	}
}

.navbar-nav {
	li.nav-item {
		a.nav-link {
			font-family: Open Sans;
			font-weight: 600;
			padding-left: 15px;
			padding-right: 15px;			
		}
	}
}

/*!
 * Container
 * */

@media (min-width: 576px) {
	.d-container {
		padding-left: 75px !important;
		padding-right: 75px !important;
	}
}

@media(max-width: 480px) {
	.d-container {
		padding: 0 1rem;	
	}
}

/*!
 * Hero
 * */

.hero-section {
	
}

.hero-section {
	.hero {
		padding-bottom: 50px;
		padding-top: 75px;
		color: #fff;
		min-height: 250px;
		padding-left: 15px;
		padding-right: 15px;
	}
}

.hero-section {
	.hero {
		.hero-left {
			.hero-hi {
				font-size: 22px;
				font-weight: 600;
			}
		}
	}
}

.hero-section {
	.hero {
		.hero-left {
			.hero-header {
				font-weight: 700;
				font-family: Nunito;
				line-height: 1.5;
			}
		}
	}
}

.hero-section {
	.hero {
		.hero-left {
			.hero-sub {
				line-height: 1.7;
				padding-top: 15px;
				font-size: 18px;
				@extend %ubuntu;
				font-weight: 500;
				color: #B5B5B5;
			}
		}
	}
}

.hero-section {
	.hero {
		.hero-left {
			.hero-button {
				padding-top: 25px;	
			}
		}
	}
}

.hero-section {
	.hero {
		.hero-left {
			.hero-button {
				.download-button {
					text-decoration: none;
					color: #f5f5f5;
					font-size: 14px;
					font-weight: 700;
					font-family: inherit;
					margin-left: 10px;
					color: #B5B5B5;
				}
			}
		}
	}
}

.hero-section {
	.hero {
		.hero-right {
			display: flex;	
		}
	}
}

.hero-section {
	.hero {
		.date-time-container {
			padding-top: 80px;
		}
	}
}


.hero-section {
	.hero {
		.date-time-container {
			.date-time {
				background-color: #4A4A4A;
				border-radius: 3px;
				padding: 15px;
				color: #B5B5B5;
			}
		}
	}
}

.hero-section {
	.hero {
		.date-time-container {
			.date-time {
				font-family: Poppins;
				font-weight: 600;
			}
		}
	}
}

@media(min-width: 768px) {
	
	.hero-section {
		.hero {
			min-height: 270px;
			
		}
	}

}

@media(max-width: 480px) {
	.hero-section {
		.hero {
			.hero-left {
				.hero-hi,
				.hero-header,
				.hero-sub,
				.hero-button {
					text-align: center;
				}
			}
		}
	}
	
	.hero-section {
		.hero {
			.hero-right {
				padding-top: 25px;
				justify-content: center;
			}
		}
	}

}


/*!
 * List menu
 * */

@import 'list-menu';

/*!
 * Portofolio
 */

@import 'portofolio';

/*!
 * Skill
 */

@import 'skill';

/*!
 * Button
 * */

.button-icon-10 {
	padding-right: 10px;
}

.button-icon-5 {
	padding-right: 5px;
}

/*!
 * Position
 * */

@media(min-width: 768px) {
	.d-jcfe {
		justify-content: flex-end;
	}
}

@media(max-width: 480px) {
	.m-jcc {
		justify-content: center;
	}
}

/*Importing*/

@import 'font-style';
